body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  header {
    background-color: rgb(16, 16, 202)
    ;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    color: #fff;
  }
  
  img {
    width: 25%;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #1076bd;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  